<div class="main-div">
    
    <div class="content-div">
        <h3 >
            How do assessments work?</h3>
  
        <p class="headingText">Backed by Data Science</p>
        <p>In-depth analysis of your profile and performance using audio and video recording, and other tools</p>
        
        <p class="headingText">Real Time Experts</p>
        <p>Qualified Consultants to review and provide detailed feedback on important aspects in a job interview</p>
        
        <p class="headingText">Audio and Video Feedback</p>
        <p>Receive detailed assessment and training through the app, as per your convenience</p>
        <p style="line-height: 30px; font-weight: 600; font-size: 25px; color: rgb(68, 63, 63); padding: 15px 0px 5px 0px;">Get Assessed Now!</p>
        <button matButton mat-raised-button class="downloadButton" (click)="downloadApp()">
            <i class="fa fa-play" style="padding: 5px;" ></i> |
            <i class="fa fa-apple" style="padding: 5px;" ></i>
            <span class="download-btn">DOWNLOAD APP FREE</span>
        </button>
    </div>
    <div class="image-div">
        <img src="assets/images/rockinterview/job-sekkey-popup.jpg" style="margin: 15px; width: 350px;cursor: pointer;" (click)="showFeedback()" />
    </div>

</div>
