<section class="yoga subscribe bg img-1" id="contact" [ngStyle]="{'background-image': 'url(assets/images/rockinterview/faqs-banner-new.png)'}">
    <div class="container " style="font-family: sans-serif !important; text-align: center; margin-top: 8rem; margin-bottom: 8rem;">
        <div class="row text-white">
            <div class="col-lg-8 offset-lg-2">
                <div >
                    <h1 style="font-size: 50px;">We're here to help.</h1>
                </div>
                <div style="margin-top: 20px;">
                   <p style="font-size: 20px; color: #ffffff;">
                    Find articles and help for getting the most out of Rock Interview.<br>
                    What do you need help with?
                   </p>
                </div>
            </div>
        </div>
    </div>
  </section>
  