<div class="container">

    <div class="secondDiv">
        <h3 style="font-weight: 700; color: rgb(68, 63, 63); font-size: 25px; line-height: 4;">Why do job seekers love
            Rock Interview?</h3>
        <p>
            Take the right steps to success in job interviews with expert guidance and customised training as
            recommended by experienced professionals.
        </p>
        <p class="headingText">REAL TIME EXPERTS</p>
        <p>Get access to expert assessment and recommendations of experienced real world professionals in the field.</p>

        <p class="headingText">COMPREHENSIVE ANALYSIS</p>
        <p>Get accurate data-based analysis of your profile and the expert opinion of highly successful consultants.</p>

        <p class="headingText">PREPARE FOR INTERVIEWS</p>
        <p>Schedule interviews with professionals already working in the field to test your skills and prepare for
            interviews.</p>

        <p class="headingText">GET VALUABLE INSIGHTS</p>
        <p>Get your profile reviewed by qualified experts who give specific feedback and detailed insights to better
            your prospects in the job market.</p>

        <p class="headingText">FIX PROBLEM AREAS</p>
        <p>Receive on-the-go training tailor-made to suit the recommendation of industry experts based on your
            assessment.</p>
    </div>
</div>