app-training-share {
    .modal-header {
        background: #9a0365;
    }
    .btn1 {
        max-width: 120px !important;
        padding: 7px !important;
    }
    .opacity1{
        opacity: 0.5 !important;
    }
}