<div class="container" style="margin-bottom: 2rem;">
    <div>
        <!-- Header part -->
    </div>
    <div >
        <div style="display: flex; flex-direction: row; margin: 4rem 0rem;">
            <div style="width: 40%;">
                <div style="height: 20px;"></div>
                <h1 >Privacy Policy</h1>
                <p>
                    <span style="width: 70px; display: inline-block; background: rgb(68, 63, 63);height: 3px; 
                    vertical-align: bottom; float: right; margin: 30px 110px;"> </span>
                </p>
            </div>
            <div style="width: 60%;">
                <p><i>Rock Interview respects your privacy and are committed to protecting it through our compliance
                        with this privacy policy.</i>
                    <br><i>These privacy policies (the “Privacy Policy”) are intended to describe for you, as an
                        individual who is a user of mobile app and services offered by Rock Interview, the information
                        we collect, how that information may be used, with whom it may be shared, and your choices about
                        such uses and disclosures.</i><br>
                    <i>We encourage you to read this Privacy Policy carefully when using this app. By using this app,
                        you are accepting the practices described in this Privacy Policy.</i></p>
            </div>

        </div>
        <div>
            <hr />
            <div><strong>Information Collection And Use </strong><br />
                <p>While using our Site, we may ask you to provide us with certain personally identifiable information
                    that can be used to contact or identify you. Personally identifiable information may include, but is
                    not limited to your name (“Personal Information”).</p>
                <p>We may access your device camera and file storage for creating a video profile after you accept the
                    permissions. And we will use this data in Rock Interview mobile application and websites.</p>
                <p>We collect your device information like device id, manufacturer details and we will use this
                    information in Rock Interview mobile application and websites.</p>
                <p>The purpose of uploading video is to have a Video Profile stating about career progression and career
                    related activities. Anything outside this would be terminated without any consent from the user.</p>
                <p>Video that includes content that infringes or violates third party rights, including copyright,
                    trademark, privacy, publicity, or other personal or proprietary rights. Any Shocking, Graphic or
                    Sensational Content Obscene Content, Hateful or Discriminatory, violence &amp; Hate speech will be
                    terminated and the account can also be deleted forever.</p>
                <p>We reserve the right to reject, approve or remove any ad for any reason, in our sole discretion,
                    including ads that negatively affect our relationship with our users or that promote content,
                    services, or activities, contrary to our competitive position, interests, or advertising philosophy.
                </p>
            </div>
            <br />
            <p><strong>Information you provide</strong><br />We may collect and store any personal information you enter
                on our app. This includes identifying information, such as your name, address, email address, mobile and
                telephone number.</p>
            <br />
            <p><strong>Security</strong><br /> The security of your Personal Information is important to us, but
                remember that no method of transmission over the Internet, or method of electronic storage, is 100%
                secure. While we strive to use commercially acceptable means to protect your Personal Information, we
                cannot guarantee its absolute security.</p>
            <br />
            <p><strong>Cookies </strong><br />We use cookies to learn more about the way you interact with our content
                and help us to improve your experience when visiting our website.</p>
            <br />
            <p>Cookies remember the type of browser you use and which additional browser software you have installed.
                They also remember your preferences, such as language and region, which remain as your default settings
                when you revisit the website. Cookies also allow you to rate pages and fill in comment forms</p>
            <br />
            <p>Some of the cookies we use are session cookies and only last until you close your browser, others are
                persistent cookies which are stored on your computer for longer. For further details on the various
                types of cookies that we use, please read our <span> cookie policy. </span></p>
            <br />
            <p>For some of the functions within our websites we use third party suppliers, for example, when you visit a
                page with videos embedded from or links to YouTube. These videos or links (and any other content from
                third party suppliers) may contain third party cookies and you may wish to consult the policies of these
                third party websites for information regarding their use of cookies. For further details on the third
                party cookies that we use, please read our page on <span> cookie types </span>.</p>
            <br />
            <p>We will not use cookies to collect personally identifiable information about you. However, should you
                wish to do so, you can choose to reject or block the cookies set by Rock Interview or the websites of
                any third party suppliers by changing your browser settings – see the Help function within your browser
                for further details. Please note that most browsers automatically accept cookies so if you do not wish
                cookies to be used you may need to actively delete or block the cookies. You can also visit
                www.allaboutcookies.org for details on how to delete or reject cookies and for further information on
                cookies generally. For information on the use of cookies in mobile phone browsers and for details on how
                to reject or delete such cookies, please refer to your handset manual.</p>
            <br />
            <p>Note, however, that if you reject the use of cookies you will still be able to visit our websites but
                some of the functions may not work correctly.</p>
            <br />
            <p><strong>Changes To This Privacy Policy</strong><br />This Privacy Policy is effective as of (Feb 1st,
                2018) and will remain in effect except with respect to any changes in its provisions in the future,
                which will be in effect immediately after being posted on this page.</p>
            <br />
            <p>We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy
                Policy periodically. Your continued use of the Service after we post any modifications to the Privacy
                Policy on this page will constitute your acknowledgment of the modifications and your consent to abide
                and be bound by the modified Privacy Policy.</p>
            <br />
            <p>If we make any material changes to this Privacy Policy, we will notify you either through the email
                address you have provided us, or by placing a prominent notice on our website.</p>
        </div>
    </div>

</div>