app-terms-and-conditions-body {
    h1 {
        font-size: 50px !important; 
        color: rgb(68, 63, 63) !important; 
        font-weight: 700 !important;
        font-family: sans-serif !important;
    }   

    p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }
}