<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="mb-4">Contact</h2>
                <div class="theme-card">
                    <form class="theme-form" [formGroup]="contactForm" (ngSubmit)="validateAndSubmit()">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">First Name <span>*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="fname" formControlName="firstName"
                                    placeholder="First Name" required="" maxlength="50">
                                <div *ngIf="submitted == true && contactForm.get('firstName').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.firstName">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('firstName').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Last Name <span>*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="lname" formControlName="lastName"
                                    placeholder="Last Name" required="" maxlength="50">
                                <div *ngIf="submitted == true && contactForm.get('lastName').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.lastName">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('lastName').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Email <span>*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="email" formControlName="emailId"
                                    placeholder="Email" required="">
                                <div *ngIf="submitted == true && contactForm.get('emailId').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.emailId">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('emailId').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <label for="review">Phone <span>*</span></label>
                                <input type="text" autocomplete="off" class="form-control" id="review" formControlName="phone"
                                    placeholder="Phone" required="" maxlength="10" minlength="10">
                                <div *ngIf="submitted == true && contactForm.get('phone').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.phone">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('phone').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">Which Option Describes You Best? <span>*</span></label>
                                <select class="form-control" formControlName="description">
                                    <option value="">Select</option>
                                    <option value="1">Training</option>
                                    <option value="2">Assessment/Interviews</option>
                                    <option value="3">Job Opportunities</option>
                                    <option value="4">Agency/Business</option>
                                </select>
                                <div *ngIf="submitted == true && contactForm.get('description').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.description">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('description').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <label for="email">Comments</label>
                                <textarea cols="40" rows="10" maxlength="400" formControlName="comments"></textarea>
                                <div *ngIf="submitted == true && contactForm.get('comments').invalid">
                                    <mat-error *ngFor="let validation of validation_messages.comments">
                                        <span
                                            *ngIf="submitted==true && contactForm.get('comments').hasError(validation.type)">
                                            {{ validation.message | translate}}
                                        </span>
                                    </mat-error>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <re-captcha formControlName="reCaptcha" style="margin: 0px 5px 10px 5px;"></re-captcha>
                            </div>
                            <div *ngIf="submitted == true && contactForm.get('reCaptcha').invalid">
                                <mat-error>
                                    <span>
                                      Captcha is required
                                    </span>
                                </mat-error>
                            </div>
                        </div>

                        <div class="form-row col-md-12" style="margin-top: 5px;">
                            <button class="btn primary-btn btn-default btn-gradient"
                                (submit)="validateAndSubmit()">Contact Us</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>