app-contact-us-form{
    h2{
        color: #000;
    }
    select{
        padding: 0 22px !important;
        height: 45px !important;
        border-radius: 0 !important;
        margin-bottom: 10px;
    }
    input{
        height: 45px !important;
        padding: 0 22px !important;
        font-size: 1rem !important;
        margin-bottom: 10px !important;
    }
    textarea{
        width: 100%;
    }
    label {
        margin-top: 10px !important;
    }
    

}