<div class="container" style="font-family: Montserrat !important;">
    <div>
        <!-- Header part -->
    </div>
    <div class="openPositionsDiv">

        <div >
            <h1 >Open Positions</h1>
        </div>
        <div>
            <h2>Engineering</h2>
            <div>
                <ul>
                    <li (click)="goToCareerOpps('Engineering', 'Java Senior Developer')">Java Senior Developer</li>
                    <li (click)="goToCareerOpps('Engineering', 'UI Architect')">UI Architect</li>
                    <li (click)="goToCareerOpps('Engineering', 'AI Solution Architect')">AI Solution Architect</li>
                    <li (click)="goToCareerOpps('Engineering', 'Data Scientist')">Data Scientist</li>
                </ul>
            </div>
        </div>
        <div>
            <h2>Sales/Marketing/Others</h2>
            <div>
                <ul>
                    <li (click)="goToCareerOpps('Sales/Marketing/Others', 'CMO- Analytics Driven Technology')">CMO- Analytics Driven Technology</li>
                    <li (click)="goToCareerOpps('Sales/Marketing/Others', 'Digital Marketing')">Digital Marketing</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="secondDiv">
        <div class="content">
            <div style="width: 95%; margin-top: 1.5rem;">
                <p style="font-size: 20px;" class="headingText">LIFE AT ROCK INTERVIEW</p>
                <p>We, at Rock Interview, believe that working together should be a great experience. Join us for all
                    the fun, learning and success that is part of the nurturing culture here.</p>

                <p class="headingText">Customizable Benefits</p>
                <p>Rock Interview offers a set of benefits for each employee to pick from. These benefits include
                    accident insurane, medical insurance, savings & retirement guidance, paternity and maternity leaves,
                    and more.</p>

                <p style="margin-top: 3rem;"><span style="font-size: 30px; font-weight: bold; margin-top: 3rem;">Join
                        us</span> to help write real life success stories.
                    <span
                        style="width: 50px; display: inline-block; height: 2px; background: black; vertical-align: middle;">
                    </span>
                </p>
            </div>
        </div>

        <div style="width: 30%;">
            <img src="../../../../assets/images/rockinterview/life-at-rock-interview.png"  />
        </div>

    </div>



</div>