<section class="yoga subscribe bg img-1" id="contact" [ngStyle]="{'background-image': 'url(assets/images/rockinterview/team-banner-new.png)'}">
    <div class="container " style="font-family: sans-serif !important; text-align: center; margin-top: 8rem; margin-bottom: 8rem;">
        <div class="row text-white">
            <div class="col-lg-8 offset-lg-2">
                <div >
                    <h1 style="font-size: 50px;">{{offerType == dataStorage.globalOfferTypes.ACCEPT ? 'Accept offer' : 'Reject offer'}}</h1>
                </div>
            </div>
        </div>
    </div>
  </section>
  