<!-- <div style="width: 80%; margin-left: 9rem;"> -->
<div class="container">
    <div>
        <!-- <div
            style="font-size: 40px; font-weight: 700; margin-top: 5rem; color: rgb(68, 63, 63); font-family: sans-serif;">
            Book a Mock Interview
        </div> -->

        <p style="margin-top: 2rem;">Rock Interview is an emerging assessment platform for individuals to address their
            unique career-growth needs.</p>
        <p>On registering with Rock Interview, candidates get assessed through a series of interviews and a unique,
            intelligent program. The program uses a combination of data science and AI on the data sets to pair the
            candidate with real-life professionals based on their profile and competence.</p>
        <div style="text-align: center;">
            <img src="assets/images/rockinterview/training.png" width="100%" height="528" />
        </div>
        <p style="margin-top: 10px;">
            The Rock Interview platform gives candidates an opportunity for some peer-to-peer training that offers
            guidance and insightful feedback without the fear of being ridiculed.
        </p>

    </div>

</div>