<!-- <div style="width: 80%; margin-left: 9rem;"> -->
    <div class="container">
    <div>
        <div class="main-heading">
        Become a Mentor
    </div>
    <p>Mentoring, while immensely helpful to the one being mentored by you, can also help advance your professional life.
        Sharing your expertise with the young,
        new talent puts you in prime position to stay up to date with the needs and demands of a dynamic job market.</p>
    <div style="text-align: center;">
        <img src="assets/images/rockinterview/interview-become-mentor.png" />
    </div>
    <p style="margin-top: 10px;">
        As an interviewer at Rock Interview, you are expected to help identify and suggest fixes for problem 
        areas in prospective job candidates.
    </p>
    <p style="margin-top: 10px;">
        Enhance your technical and leadership skills, create a robust network of connected professionals and stay connected 
        while you get paid for your services. After all, it does feel rewarding to help someone forge a successful career.
    </p>
    <p style="line-height: 40px; font-weight: 600; font-size: 25px; color: rgb(68, 63, 63); padding: 15px 0px 5px 0px;">Become a Mentor Now!</p>
    <button matButton mat-raised-button class="downloadButton" (click)="downloadApp()" >
        <i class="fa fa-play" style="padding: 5px;" ></i> |
        <i class="fa fa-apple" style="padding: 5px;" ></i>
        <span class="download-btn">DOWNLOAD APP FREE</span>
    </button>
    </div>

    <hr style="width: 100%; margin-top: 2rem;">

    <div class="secondDiv" id="divIntExperts">
        <h3 style="font-weight: 700; color: rgb(68, 63, 63); font-size: 25px; line-height: 4;">Why do experts love Rock Interview?</h3>
        <p>
            If you are have significant experience in your field, share your knowledge with new talent in the industry during 
            your free time. And get paid doing it!
        </p>
        <p class="headingText">GET PAID FOR MENTORING</p>
        <p>Help freshers and young talent with professional assessments and training sessions.</p>
        
        <p class="headingText">SHARE YOUR EXPERTISE</p>
        <p>Gain satisfaction from sharing the knowledge you have with budding talent in the industry.</p>
        
        <p class="headingText">BUILD CREDIBILITY</p>
        <p>Get rated by candidates on your mentoring skills. Higher ratings get more interviews and also help you build credibility.</p>
        
        <p class="headingText">ENHANCE YOUR SKILLS</p>
        <p>Hone your training and leadership skills by handling real candidates in need of guidance.</p>
    </div>

</div>