<div class="main-div">
    
    <div class="content-div">
        <h3 style="font-weight: 700; color: rgb(68, 63, 63); font-size: 25px; font-family: sans-serif;">
            How good are the interviewers <br>at Rock Interview?</h3>
  
        <p class="headingText">Peer Rating</p>
        <p>Every interviewer is rated by the candidate after each interview</p>
        
        <p class="headingText">Profile and Social Review</p>
        <p>A basic profile verification that includes social media is done by Rock Interview</p>
        
        <p class="headingText">Panel Verification</p>
        <p>Every interviewer is reviewed by an expert panel to determine their competence</p>
        <p style="line-height: 30px; font-weight: 600; font-size: 28px; color: rgb(68, 63, 63); padding: 15px 0px 5px 0px;">Get Assessed Now!</p>
        <button matButton mat-raised-button class="downloadButton" (click)="downloadApp()">
            <i class="fa fa-play" style="padding: 5px;" ></i> |
            <i class="fa fa-apple" style="padding: 5px;" ></i>
            <span class="download-btn">DOWNLOAD APP FREE</span>
        </button>
    </div>
    <div class="image-div">
        <img src="assets/images/rockinterview/how-rockinterview-works.png" />
    </div>

</div>
