<section class="yoga subscribe bg img-1" id="contact" style="background-color: #99226e; font-family: Montserrat;">
    <div class="container " style="font-family: Montserrat !important; margin-top: 6rem; margin-bottom: 3rem;">
        <div>
            <div class="image-section">
                <img src="../../../../assets/images/rockinterview/careers-slider.jpg" />
            </div>
            <div class="content">
                <p style="margin-left: 10px;">CAREERS
                    <span style="width: 100px; display: inline-block; height: 1px; background: white; vertical-align: text-top;"> </span></p>
                <p class="bold-text">Come, be a part of a talented team</p>
                <p class="normal-text">
                    This is passionate about helping build a workforce that is confident and connected. </p>
            </div>
        </div>
    </div>
</section>