app-terms-and-conditions{
    .secondDiv {
        margin-bottom: 3rem;
        width: 100%;
        p {
            font-size: 15px;
        }
      .headingText {
          font-weight: 700;
          color: #494949;
          line-height: 5;
        }
        p{
            line-height: 18px;
            text-align: justify;
        }
    }
}