app-user-details {
    .modal-header {
        background: #9a0365;
    }

    .img-new {
        width: 15px;
        height: 15px;
    }

    li:hover {
        background: #dedede;
    }

    .modal-dialog {
        min-width: 800px !important;
    }

    .star-rating {
        font-size: 18px;
        margin-top: -6px;
        color: #9a0365;
        outline: none;
    }
    .labelnew {
        min-width: 180px;
        font-weight: bold;
    }
    .my-link {
        text-decoration: underline;
        color: #99226e;
        cursor: pointer;
    }
}