<section class="yoga subscribe bg img-1" id="contact" [ngStyle]="{'background-image': 'url(assets/images/rockinterview/interview-faqs.jpg)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title title2">
                    <h1 class="text-white subscribe-head">Do you still have questions?<br>
                        Our Q&A should help you!</h1>
                    
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                          <a class="btn btn-default primary-btn transparent" (click)="onReadFAQClick()">READ FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  