
<!--about start-->
<section class="app2 about format">
<div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 counters set-height">
                <img src="assets/images/rockinterview/nail-the-interview.png" alt="" class="img-fluid mobile1  left">
            </div>
            <div class="col-sm-7 counters">
                <div class="abouts  center-text">
                    <div>
                        <!-- <div class="format-small-text">
                            <h6 class="font-primary borders-before text-uppercase"><span>our progress</span></h6>
                        </div> -->
                        <div class="format-head-text">
                            <h1 class="about-font-header font-secondary">
                              <strong>  Nail the interview to land that dream job.</strong>
                            </h1>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">
                                <b>ENHANCE PROFILE</b>
                                <br/>
                                Improve interview skills with expert guidance
                                <br/>
<b>GET FEEDBACK</b>
<br/>
Detailed industry-standard assessment
<br/>
<b>ACQUIRE SKILLS</b>
<br/>
Get customised training recommendations
                            </p>
                        </div>
                        <!-- <ul class="icon-collection">
                            <li class="about-icon">
                                <a href="javascript:void(0)" class="center-content"><img
                                        src="assets/images/app_landing2/about-icons/1.png" alt="" class="img-fluid"></a>
                            </li>
                            <li class="about-icon">
                                <a href="javascript:void(0)" class="center-content"><img
                                        src="assets/images/app_landing2/about-icons/2.png" alt="" class="img-fluid"></a>
                            </li>
                            <li class="about-icon">
                                <a href="javascript:void(0)" class="center-content"><img
                                        src="assets/images/app_landing2/about-icons/3.png" alt="" class="img-fluid"></a>
                            </li>
                        </ul> -->
                        <a class="btn btn-default btn-gradient m-t-50" [routerLink]="dataStorage.globalPathInformation.JOBSEEKER.PATH">learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--about end-->