<!-- <div style="width: 80%; margin-left: 9rem;"> -->
<div class="container">
    <div>
        <div class="main-heading">
            Book an Interview 
        </div>
        <p>An Interview resembles a real interview as closely as possible, for the purpose of providing an authentic
            experience for the candidate. It can help a job applicant to understand what is expected in a real job
            interview, and can help an applicant improve their self-presentation.</p>
        <div style="text-align: center;">
            <img src="assets/images/rockinterview/job-seeker-mock-interview.png"  />
        </div>
        <p style="margin-top: 10px;">
            A candidate can also request for special attention to aspects of the interview process that he/she knows to
            be in need of improvement.
        </p>
        <p style="margin-top: 10px;">
            Interviews with Rock interview are recorded so that the candidate can review their performance
            afterward, and get specific feedback from the interviewer on aspects of the interview process and their
            profile that need improvement.
        </p>
        <p
            style="line-height: 40px; font-weight: 600; font-size: 28px; color: rgb(68, 63, 63); padding: 15px 0px 5px 0px;">
            Book an Interview Now!</p>
        <button matButton mat-raised-button class="downloadButton" (click)="downloadApp()">
            <i class="fa fa-play" style="padding: 5px;"></i> |
            <i class="fa fa-apple" style="padding: 5px;"></i>
            <span class="download-btn">DOWNLOAD APP FREE</span>
        </button>
    </div>

</div>