<section class="yoga subscribe bg img-1" id="contact" [ngStyle]="{'background-image': 'url(assets/images/rockinterview/contact-banner-new.png)'}">
    <div class="container " style="font-family: sans-serif !important; text-align: center; margin-top: 8rem; margin-bottom: 8rem;">
        <div class="row text-white">
            <div class="col-lg-8 offset-lg-2">
                <div >
                    <h1 style="font-size: 50px;">We Love To Hear From You</h1>
                </div>
                <div style="margin-top: 20px;">
                   <p style="font-size: 20px; color: #ffffff;">
                        What's on your mind? Tell us a little bit about yourself and your question, and we will be in touch with you within 24 hours.
                   </p>
                </div>
            </div>
        </div>
    </div>
  </section>
  