<div class="main-div">

    <div class="textDiv">
        <h2 > How it works</h2>
        <p>Ashi is manual tester trained in automation, and is looking out for better opportunities. He Registers and
            Sets up a Interview. Based on his profile, the RI platform selects Kiran as Ashi’s mentor. Kiran then
            conducts a interview to review Ashi on his project, technical and communication skills.</p>

        <p class="headingText">The gaps identified are as follows:</p>
        <p>Ashi is very good with the theoretical aspect of his domain, but found lacking in the practical approach.
            Here’s how Kiran’s feedback sheet for Ashi read:</p>

        <p class="headingText">Feedback:</p>
        <p>Ashi satisfactorily explained the regular expressions in xPath. However he was unable to write the same in
            code. Another instance, He has theoretical knowledge in frameworks but can’t write a simple script adhering
            to frame work. He also lacks hands-on experience in selenium.</p>

        <p class="headingText">Areas of Improvement:</p>

        <ul >
            <div class="list-items">
                <i class="fa fa-circle" ></i>Work towards being more hands-on with Automation</div>
            <div class="list-items">
                <i class="fa fa-circle" ></i>Improve technical skills wrt developing Automation code while adhering to frameworks</div>
            <div class="list-items">
                <i class="fa fa-circle" ></i>Gain expertise in Selenium</div>

        </ul>
        <p style="margin-top: 10px;">Ashi receives Kiran’s feedback, along with a detailed analysis and an audio-video recording of the
            interview. Ashi now knows where he stands and understands where he has to improve in order to be successful
            in his next Automation interview.</p>
    </div>
    <div class="feedbackClass">
        <div >
            <section class="yoga format">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="title title2 title-inner">
                                <div class="main-title">
                                    <div style="display: flex; flex-direction: row;">
                                    <div class="col-md-6 col-lg-6">
                                        <img src="assets\images\rockinterview\skillset-img.jpg" style="width:150px; border-radius:50%">
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <p style="height:150px; vertical-align:middle; padding-top: 20%;">Overall fit <br>
                                            <span style="font-size: 24px;">2.73/</span>5</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 counters">
                            <div class="center-text">
                                <div class="w-100">
                                    <div class="meter m-0">
                                        <div class="progress yoga-gradiant" style="width: 75%;">
                                            <div>
                                                <h6 class="lorem">Manual Testing</h6>
                                                <h6 class="percent">75%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meter">
                                        <div class="progress yoga-gradiant" style="width: 78%;">
                                            <div>
                                                <h6 class="lorem">Automation Testing</h6>
                                                <h6 class="percent">78%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meter">
                                        <div class="progress yoga-gradiant" style="width: 65%;">
                                            <div>
                                                <h6 class="lorem">Technical</h6>
                                                <h6 class="percent">65%</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="meter">
                                        <div class="progress yoga-gradiant" style="width: 83%;">
                                            <div>
                                                <h6 class="lorem">Communication skills</h6>
                                                <h6 class="percent">83%</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    
        
    </div>

</div>