

<app-modern-nav></app-modern-nav>
<app-interviewer-banner></app-interviewer-banner>
<app-breadcrumb></app-breadcrumb>
<div id="divBecomeMentor">
        <app-become-mentor></app-become-mentor>
</div>
<app-interviewer-read-faq [pathName]="dataStorage.globalPathInformation.INTERVIEWER.PATH"></app-interviewer-read-faq>
<div id="divPeerRating">
<app-peer-rating></app-peer-rating>
</div>
<app-modern-ebook></app-modern-ebook>
 <!-- <app-modern-subscribe></app-modern-subscribe>
<app-modern-footer></app-modern-footer> -->
<app-detailed-footer></app-detailed-footer>