<div class="container">
    <div>
        <!-- Header part -->
    </div>
    <div style="margin: 20px 0px;">
        <div *ngFor="let j of faqList" [id]="j.faqID">
            <div class="faqType">
                <h4>{{j.faqTitle}}</h4>
            </div>
            <div style="display: block !important; flex-direction: column;">
                <div *ngFor="let t of j.faqs; let i = index;" fxFlex="100%" style="padding:10px 0px; display: block !important; flex-direction: column !important; 
                    background-color: #eeeeee; margin: 0px;  border: 1px solid #cccccc;">
                    <div fxFlex="100%"
                        style="cursor: pointer;font-size:17px; display: flex; flex-direction: row; margin-top: 5px;">
                        <div style="display: flex; width: 100%;">
                            <div style="width: 93%;" class="sm-ml-7">
                                <span style="font-weight: 500;margin-left:15px; color: #444444;" class="sm-ml-0"
                                    (click)="getfaqDescription(t.faqId); t.isChecked = !t.isChecked">{{t.faqTitle}} </span>
                            </div>
                            <div style="float: right; width: 5%; text-align: center;">
                                <span *ngIf="!t.isChecked" (click)="getfaqDescription(t.faqId); t.isChecked = true"
                                    style="color: #444444; margin-left: 10px;" class="sm-ml-0">+</span>
                                <span *ngIf="t.isChecked" (click)="t.isChecked = false"
                                    style="color: #444444; margin-left: 10px;" class="sm-ml-0">-</span>
                            </div>
    
                        </div>
    
                    </div>
                    <div fxFlex='100%' *ngIf=" t.isChecked"
                        style="margin-top: 15px; background-color: #ffffff; display: block !important; flex-direction: column !important; margin-bottom: -10px;">
                        <div fxFlex="100%" style="color: #444444 !important; font-size: 15px; padding: 10px;" [innerHTML]="t.answer">
                            <!-- {{t.answer}} -->
                        </div>
    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>