app-menu{
    ul.main-menu li a{
        color: #000;
    }
    .btn{
        padding: 4px 12px !important;
    }
    .btn.btn-paj{
        background: #000 !important;
    }
    .btn.btn-paj:hover{
        color: #fff !important;
    }

    .btn.btn-ent, .btn.btn-ent:hover{
        background: #083aac;
    }
    .btn.btn-ent:hover{
        border: none;
    }

    .navbar{
        float: right;
        box-shadow: none;
    }

    ul.main-menu li:focus{
        outline: none;
    }

    .main-menu {
        width: max-content;
    }

    .menu-arrow {
        float: right;
        display: none;
    }

    .a-loggedin{
        padding-left: 6px;
    }
    .btn-login{
        border-radius: 10px;
    }


    .a-loggedin:before{
        content: "\f0d7";
        right: 0;
        position: absolute;
        font: normal normal normal 14px/1 FontAwesome;
        right: 0px;
        top: 58%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .menu-active {
        text-decoration: none;
        position: relative;
    }
    .menu-active:after {
        content: '';
        width: 100%;
        display: block;
        margin-top: 3px;
        bottom: 0;
        border-width: 0px 0px 2.5px;
        border-style: solid;
        text-align: center;
              border-image-source: linear-gradient(to right, rgba(215, 32, 232, 1), #9a0365, #9a0365, rgba(215, 32, 232, 1));
     border-image-slice: 1;
    }

    @media  screen and (max-width: 1366px) {
        .a-loggedin:before{
            top: 44%;
            right: -5%;
        }
    }

    @media screen and (max-width: 480px) {
        .a-loggedin:before {
            content: '' !important;
        }

        header .navbar {
            width: 100%;
            height: 100%;
        }
    }
}


@media screen and (max-width: 900px) {

    header nav ul li:hover .mega-menu-container {
        display: block !important;
        height: 150px;
    }

    .main-menu > li > ul, .main-menu > li .mega-menu-container {
        display: none !important;
    }

    .btn-login{
    margin: 0px !important;
    }

    .hideSM {
        display: none;
    }

    .a-loggedin:before {
        top: 3vh !important;
        right: 5vw !important;
    }
}


