<!-- subscribe section start-->
<section class="yoga subscribe bg img-1" id="contact" >
        <div class="header">
                <div class="wave"></div>
            </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title title2">
                    <h1 class="text-black subscribe-head">Here's our interview's
                          Handbook</h1>
                    
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                          <a class="btn btn-default btn-gradient"
                          [routerLink]="dataStorage.globalPathInformation.DOWNLOAD_EBOOK.PATH">DOWNLOAD
                                  EBOOK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- subscribe section end-->
  