<section class="yoga subscribe bg img-1" id="contact" [ngStyle]="{'background-image': 'url(assets/images/rockinterview/process-of-training.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="title title2">
                    <h1 class="text-white subscribe-head">Want to know more about the process and<br>
                        the training at Rock Interview?</h1>
                    
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                <div class="subscribe">
                    <div class="center-content">
                          <a class="btn btn-default primary-btn transparent"
                          [routerLink]="dataStorage.globalPathInformation.CONTACT_US.PATH">GET IN TOUCH NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  