<div style="background: #f5f5f8; ">
<div class="container text-center  pt-5 pb-5">
    <h2>Need more information?</h2>
    <div class="div-info-box">
        <button class="btn btn-default btn-gradient text-white text-uppercase col-md-3 col-sm-10 mr-5 mt-1 mybtn"
        [routerLink]="dataStorage.globalPathInformation.CONTACT_US.PATH" (click)="scrollTop()">Contact Us</button>
        <button class="btn btn-default btn-gradient text-white text-uppercase col-md-3 col-sm-10 mr-5 mt-1 mybtn newbtn">
            <!-- <i class="fa fa-phone mr-2"></i>+91 8095283666</button> -->
            <i class="fa fa-phone mr-2"></i>+91 7899793657</button>
        <button class="btn btn-default btn-gradient text-white text-uppercase col-md-3 col-sm-10 mt-1 mybtn" 
        (click)="onLeaveMessageClick()">Leave Message</button>
    </div>
</div>
</div>