app-certificates{

    section {
        padding: 45px 0px;
    }
    
    h3 {
        text-transform: capitalize !important;
        color: #000 !important;
    }
    h2 {
        font-size: calc(20px + (36 - 20) * ((100vw - 300px) / (1920 - 300)));
        line-height: 1.9;
        color: rgb(128, 4, 82);
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        text-transform: initial;
    }
    
    p {
        //font-size: calc(10px + (36 - 20) * ((100vw - 200px) / (1920 - 200)));
        line-height: 1.9;
        color: white;
        font-family: 'Poppins', sans-serif;
        font-weight: 200;
        text-transform: capitalize;
        text-align: center;
        background-color: rgb(128, 4, 82);
        border-radius: 20px;
        margin-bottom:15px;
    }
    
    
    
    
    .register-page .theme-card{
        border:none !important;
    }
    .cert{
        border: 1px solid #99226e; padding: 15px 20px; 
        //max-width: 17rem; 
        border-radius: 5px; 
        box-shadow: 0px 3px 8px 0px #857f7f; 
        margin-bottom: 40px; 
        margin-right: 1rem;
        margin-left: 1rem;
    }
    
    .padding-0 {
        padding: 0px;
    }
    // h3{
    //     font-weight: 700;
    //     text-transform: capitalize;
    //     color: #000 !important;
    // }
    
    .pagetitle {
       // margin-left:-115px; 
        font-size:24px;
        color:rgb(128, 4, 82);
        text-transform: inherit;
        margin-left:-6.5rem;
       margin-right:-0.9rem
    }
    
    .name{
        margin-left:8%; 
        font-size:16px;
        font-weight: 450;
    }
    
    
    .pagetitle1 {
        margin-left:-4rem; 
        font-size:18px;
        color:rgb(128, 4, 82);
        text-transform: inherit;
        margin-top:20px;
    }
    .int{
        padding-top: 10px;
        margin-left: -2rem;
    
    }
    .line{
        margin-left: 18px;
         padding-top: 5px; 
         padding-bottom: 5px;
    }

    .cert-name{
        white-space: nowrap;
        overflow-x: auto;
    }

    .cert-name::-webkit-scrollbar {
        height: 3px;
        background-color: #fff;
    }
    .cert-name::-webkit-scrollbar-thumb {
        background-color: #9a0365;
        border-radius: 0px;
    }

    .btn-download{
        width: 40%;
        margin: 0px auto;   
        padding: 10px;
    }
}
