<div #modal class="login-modal" data-target="#modal" class="fbPopup">
    <!-- <div class="modal-header">
            <button class="btn btn-gradient btn-default btn-register">Register</button>
        <button aria-label="Close" class="close" data-dismiss="modal" (click)="onModalDismiss()" type="button" style="right: -150px; outline: none;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="theme-card" style="position: relative">
                    <div class="div-close">
                        <button aria-label="Close" class="close" data-dismiss="modal" (click)="onModalDismiss()"
                            type="button" style="right: -150px; outline: none;color: #fff;font-weight: 400;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="container">
                        <h3 class="mb-5"> How it helps? </h3>
                        <div class="row">
                            <div class="col-md-6 left-section">
                                <p class="header mb-4">
                                    Jobseeker
                                </p>
                                <p>
                                    <img src="assets/images/rockinterview/launch/js-1.png" />
                                    <span style="margin-left: 0rem; line-height: revert;">Get Assessed by Experts (free)</span>
                                </p>
                                <p>
                                    <img src="assets/images/rockinterview/launch/js-2.png" />
                                    <span style="margin-left: 0rem; line-height: revert;">Ultra-Personalized
                                        Training / Mentoring</span>
                                </p><br>
                                <p>
                                    <img src="assets/images/rockinterview/launch/js-3.png" />
                                    <span style="margin-left: 0rem; line-height: revert;"> Find / Land your Dream
                                    Job.</span>
                                </p>
                                <button class="btn btn-gradient btn-light" (click)="onModalDismiss()">
                                    Get Started
                                </button>
                            </div>
                            <div class="col-md-6">
                                <p class="header mb-4">
                                    Enterprise
                                </p>
                                <p>
                                    <img src="assets/images/rockinterview/launch/en-1.png" /> 
                                    <span style="margin-left: 0rem; line-height: revert;">Screened / Rated Profiles</span>
                                </p>
                                <p>
                                    <img src="assets/images/rockinterview/launch/en-2.png" /> 
                                    <span style="margin-left: 0rem; line-height: revert;">Post jobs (free) with
                                    ready-made templates</span>
                                    <!-- <br/> -->
                                    <!-- <span>(Job Description)</span> -->

                                </p><br>
                                <p>
                                    <img src="assets/images/rockinterview/launch/en-3.png" /> 
                                    <span style="margin-left: 0rem; line-height: revert;">Accelerated / Hassle free
                                    Hiring</span>
                                </p>
                                <button class="btn btn-gradient btn-light">
                                    <a [href]="enterpriseUrl" target="_blank"> Get Started</a>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>