app-launch-popup{
    .div-button{
        position: absolute;
        bottom: 5%;
        left: 50%;
        .btn-register{
            color: #000 !important;
            background: #fff;

            @media only screen and (max-width: 991px) {
                
                    padding: 5px;
            font-size: 12px;
                }
            
        }
        .btn-register:hover,.btn-register:active, .btn-register:focus{
            color: #000 !important;
        }

     
    }

    .div-close{
        position: absolute;
        top: -2%;
        right: 0%;
        span{
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 991px) {
        .div-close{
            position: absolute;
            top: -12%;
            right: -3%;
        }
    }
    
}