app-video-profiles {
    // .intfbPopup {
        // width: 42rem;
    // }
    .modal-content {
        width: 42rem !important;
    }
    .modal-header {
        background: #9a0365;
    }
    .modal-body {
        width: 35rem;
    }
    // label {
    //     width: 10rem;
    // }
    .rating {
        img {
            width: 20px;
        }
    }
    .star-rating {
        font-size: 25px;
        margin-top: -8px;
        color: #99226e;
        outline: none;
    }
    .feedback {
        border: 1px solid darkgray;
        height: 4rem;
        width: 100%;
        overflow-y: auto;
    }
    .feedback::-webkit-scrollbar {
        width: 4px;
        background-color: #fff;
    }
    .feedback::-webkit-scrollbar-thumb {
        background-color: #9a0365;
        border-radius: 0;
    }
    label {
        font-weight: 600;
    }

    @media screen and(max-width: 1366px) {
        .modal-body {
            width: 28.5rem;
        }
    }

    @media (min-width: 1025px) and (max-width: 1280px) {
        .modal-body {
            width: 35rem;
        }
    }
}