

<app-modern-nav></app-modern-nav>
<app-jobseeker-banner></app-jobseeker-banner>
<app-breadcrumb></app-breadcrumb>
<app-jobseeker-book-mock-interview></app-jobseeker-book-mock-interview>
<app-jobseeker-learn-more></app-jobseeker-learn-more>
<app-jobseeker-love-ri></app-jobseeker-love-ri>
<app-interviewer-read-faq [pathName]="dataStorage.globalPathInformation.JOBSEEKER.PATH"></app-interviewer-read-faq>
<div id="divAssessment">
<app-jobseeker-assessments></app-jobseeker-assessments>
</div>
<app-modern-ebook></app-modern-ebook>
<app-detailed-footer></app-detailed-footer>