
<!--about start-->
<section class="app2 about format">
<div class="animated-bg"><i></i><i></i><i></i></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 counters">
                    <div class="abouts  center-text">
                            <div>
                                <!-- <div class="format-small-text">
                                    <h6 class="font-primary borders-before text-uppercase"><span>our progress</span></h6>
                                </div> -->
                                <div class="format-head-text">
                                    <h1 class="about-font-header font-secondary">
                                      <strong>Become a mentor you wish you had.</strong>
                                    </h1>
                                </div>
                                <div class="format-sub-text">
                                    <p class="about-para">
                                         
<b>EARN MORE</b>
<br/>
Get paid while you share your expertise
<br/>
<b>BUILD CREDIBILITY</b>
<br/>
Gain influence in your industry
<br/>
<b>ESTABLISHED CAPABILITIES</b>
<br/>
Develop your leadership skills
                                    </p>
                                </div>
                                <a class="btn btn-default btn-gradient m-t-50" [routerLink]="dataStorage.globalPathInformation.INTERVIEWER.PATH">learn more</a>
                            </div>
                        </div>
            </div>
            <div class="col-sm-5 counters set-height">
                    <img src="assets/images/rockinterview/become-a-mentor.png" alt="" class="img-fluid mobile1">
               
            </div>
        </div>
    </div>
   

</section> 


<!--about end--> 